<div #main class="cardInfo">
  <div class="mainBlock">
    <div class="topMenu">
      <span class="item" routerLink="/main">Мои финансы</span> <span class="separator">/</span> <span routerLink="/cards" class="item">Карты</span>
    </div>
    <img class="card4" src="assets/img/ard3-card4@2x.png">
    <div class="buttonedBlock">
      <div class="group12">
        <div class="group3">
          <img class="oval20copy" src="assets/img/ard3-oval-20-copy-2@2x.png">
          <div class="iconreplenish">
            <img class="line" src="assets/img/ard3-line 1@2x.png">
            <img class="line5" src="assets/img/ard3-line-5@2x.png">
            <img class="line1" src="assets/img/ard3-line 2@2x.png">
          </div>
        </div>
        <div class="group5">
          <img class="oval20copy2" src="assets/img/ard3-oval-20-copy-2@2x.png">
          <div class="iconplatperev">
            <img class="line" src="assets/img/ard3-line 3@2x.png">
            <img class="line1" src="assets/img/ard3-line 4@2x.png">
          </div>
        </div>
        <div class="group8">
          <img class="oval20copy3" src="assets/img/ard3-oval-20@2x.png">
          <div class="group4">
            <div class="rectangle5">
            </div>
            <img class="line2" src="assets/img/ard3-line-2@2x.png">
          </div>
        </div>
        <div class="group10">
          <img class="oval20" src="assets/img/ard3-oval-20@2x.png">
          <div class="group2">
            <img class="oval7" src="assets/img/ard3-oval-7-copy@2x.png">
            <img class="oval7copy" src="assets/img/ard3-oval-7-copy@2x.png">
            <img class="oval7copy2" src="assets/img/ard3-oval-7-copy@2x.png">
          </div>
        </div>
      </div>
    </div>
    <div class="summary">
      <table width="380px">
        <tr class="itemLine" *ngFor="let card of cards">
          <td width="70%" class="name">
            {{card.name}}
          </td>
          <td class="value">
            {{card.value}}<app-rub></app-rub>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="detailBlock">
    <div class="title">История операций</div>
    <div class="view1">
      <img class="oval2" src="assets/img/ard3-oval-2@2x.png">
      <img class="line" src="assets/img/ard3-line@2x.png">

    </div>
    <div class="detailsBody">
      <div class="detailDay" *ngFor="let detail of details">
        <div class="day">{{detail.date}}</div>
        <div class="items" *ngFor="let data of detail.data" routerLink="details0">
          <div class="item">
            <div class="icon">
              <img width="30px" src="{{data.icon}}">
            </div>
            <div class="name">{{data.name}}</div>
            <div class="extraName">{{data.extraName}}</div>
            <div class="data">
              <div class="value">- {{data.value}} <app-rub></app-rub></div>
              <div class="bonus">+ {{data.bonus}} бонусов</div>
            </div>
          </div>
          <hr/>
        </div>

      </div>
    </div>
  </div>

</div>
