<div #main class="credits" >
    <div class="title">
      Кредиты
    </div>
    <div class="addCreditButton"><app-simple-button label="+ Открыть кредит"></app-simple-button></div>
    <div class="creditsBlock">
      <app-credit-item name="Кредит 'Стандартный'" payed="70" endDate="до 15 октября 2018" percent="9.5"
                       value="1 000 000"></app-credit-item>
      <app-credit-item name="Кредит на машину" payed="40" endDate="до 15 марта 2019" percent="5"
                       value="30 000 000"></app-credit-item>
      <app-credit-item name="Кредит на телефон" payed="60" endDate="до 15 марта 2019" percent="17"
                       value="500 000"></app-credit-item>
    </div>
</div>
