.future {
  margin-top: 100px;
  margin-right: 10%;
  margin-left: 10%;
  min-width: 960px;
}

.label {
  font-family:  Helvetica, Arial, serif;
  font-size: 32.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: left;
  letter-spacing: -0.22px;
  line-height: 29.0px;
  float: left;
  margin-bottom: 10px;
}

.tabs {
  position: absolute;
  right: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tabs div {
  height: 30px;
  width: 100px;
  display: inline-block;
  line-height: 30px;
  text-align: center;
}

.tabs .active {
  background: #EF8D35;
  color: white;

}

.tabs .inactive {
  background: #FFFFFF;
  color: #DBDBDB;
  border: 1px solid #DBDBDB;
  cursor: pointer;
}

.tabs .first {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.tabs .last {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.body {
  top: 50px;
  position: relative;

}
