<div class="future">
  <div class="label">Предстоящее</div>
  <div #tabs class="tabs">
    <div class="active first"> Счета</div>
    <div class="inactive last"> Расходы</div>
  </div>
  <div class="body">
    <div></div>
    <app-dashboard-future-block-item icon="assets/img/futureItem2.png"
                                     title="Услуги сотовой связи" description="+7916*****79" value="450"
                                     date="20.12.2018" background="yellow"></app-dashboard-future-block-item>
    <app-dashboard-future-block-item icon="assets/img/futureItem0.png" title="Платеж по кредиту" description="Договор №4556***90" value="23 450 Р"
                                     date="18.09.2018"></app-dashboard-future-block-item>

    <app-dashboard-future-block-item icon="assets/img/futureItem1.png" title="Комунальные платежи ЖКХ" description="Лицевой счет №126272"
                                     value="3407 Р" date="21.09.2018" background="url('assets/img/futureItemBg.png') round"
                                     color="white"></app-dashboard-future-block-item>
  </div>
</div>
