<!--The content below is only a placeholder and can be replaced.-->
<div class="signin" >
  <app-fora-logo></app-fora-logo>
  <app-title title="Вход"></app-title>
  <div #loginBlock class="ui-float-label loginBlock">
    <input id="loginInput" class="loginInputField" type="text" pInputText (input)="onLoginChange($event)">
    <label for="loginInput" class="inputFloatingLabel">Логин</label>
  </div>
  <br>
  <div #passwordBlock class="ui-float-label loginBlock">
    <input id="passwordInput" class="passInputField" type="password" pInputText (input)="onPassChange($event)">
    <label for="passwordInput" class="inputFloatingLabel">Пароль</label>
  </div>
  <app-button label="Войти" route="verifySms" bgColor="#FFFFFF" color="#d84049" border=true enabled="{{btnEnterEnabled}}"></app-button>
  <app-button label="Забыли логин и пароль ?" underlined="true"></app-button>
  <div #lostPassword class="buttonedLabel lostPassword underlined"></div>

  <app-footer1 route="/regChoice" mainTitle="Зарегистрироваться"></app-footer1>
</div>
