<!--The content below is only a placeholder and can be replaced.-->
<div class="signin" >
  <app-fora-logo></app-fora-logo>
  <app-title title="Вход"></app-title>
  <div #loginBlock class="ui-float-label loginBlock">
    <input id="loginInput" class="loginInputField" type="text" pInputText>
    <label for="loginInput" class="inputFloatingLabel">Логин</label>
  </div>
  <br>
  <div #passwordBlock class="ui-float-label loginBlock">
    <input id="passwordInput" class="passInputField" type="password" pInputText>
    <label for="passwordInput" class="inputFloatingLabel">Пароль</label>
  </div>
  <div #btnEnter class="btnEnter" routerLink="verifySms">
    Войти
  </div>
  <div #lostPassword class="buttonedLabel lostPassword underlined">Забыли логин и пароль ?</div>

  <app-footer1 route="/regChoice" mainTitle="Зарегистрироваться"></app-footer1>
</div>
