.card2card {
  width: 100%;
  min-width: 1280px;
  height: 100%;
  min-height: 760px;
  position: relative;
  overflow: hidden;
  top: -65px;
  margin-left: 80px;
  animation: showCardInfo 2000ms ease-in-out both;;
}

@keyframes showCardInfo {
  from {left: 100em;}
  to {left: 1em; }
}


.topMenu {
  margin-top:30px;
  margin-bottom: 40px;
  height: auto;
  width: 358px;
  font-family: Helvetica, Arial, serif;
  font-size: 16.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: left;
  letter-spacing: -0.27px;
  line-height: 21.0px;
}

.topMenu .item {
  text-decoration: underline;
  cursor: pointer;
}

.topMenu .separator {
  margin-left: 10px;
  margin-right: 10px;
}

.content{
  margin-top: 30px;
}

.title{
  margin-top: 20px;
  font-family:  Helvetica, Arial, serif;
  font-size: 32.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: left;
  letter-spacing: -0.22px;
  line-height: 40.0px;
}

.card{
  width: 340px;
  height: 215px;
  background: #F8F8F8;
  border-radius: 2px;
}

.cardNumber{
  margin-left: 45px;
  top: 85px;

}

.cardMonth{
  margin-left: 45px;
  top: 105px;
  width: 50px;
}

.cardMonth input{
  width: 45px;
}

.cardYear{
  margin-left: 105px;
  top: -22px;
  width: 50px;
}
.cardMYSeparator{
  margin-left: 95px;
  margin-top: 80px;
}
.cardYear input{
  width: 45px;
}

.cardCVV{
  top: -50px;
  width: 50px;
  margin-left: 250px;
}

.cardCVV input{
  width: 45px;
}

.cardImg{
  width: 50px;
}

.brandLogo{
  width: 50px;
  margin-left: 175px;
  margin-top: -53px;
  position: absolute;
}
.brand2Logo{
  width: 50px;
  margin-left: 175px;
  margin-top: 105px;
  position: absolute;
}
.card2{
  position: absolute;
  width: 340px;
  height: 215px;
  background: #F8F8F8;
  border-radius: 2px;
  left: 445px;
  top: 131px;
}

.line5{
  position: absolute;
  left: 350px;
  top: 175px;
}
.paymentName{

  margin-top: 20px;
}

.paymentNameLabel{
  font-family: Helvetica, Arial, serif;
  font-size: 15.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: left;
  letter-spacing: -0.35px;
  line-height: 21.0px;
  margin-top: 20px;
}

.valueBlock{
  position: absolute;
  left: 445px;
  top: 346px;
}

.valueTitle{
  margin-top: 20px;
  font-family: Helvetica, Arial, serif;
  font-size: 15.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: left;
  letter-spacing: -0.35px;
  line-height: 21.0px;
}

.valueBlock .value{
  margin-top: 20px;
}

.valueSubLabel{
  margin-top: 20px;
  font-family: Helvetica, Arial, serif;
  font-size: 14.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: left;
  letter-spacing: -0.33px;
  line-height: 16.2px;
}

.valueLabel{
  font-family:  Helvetica, Arial, serif;
  font-size: 45.0px;
  color: rgba(218, 218, 218, 1.0);
  text-align: left;
  line-height: 102.0px;
}

.valueTerms{
  margin-top: 20px;
  width: 300px;
  font-family:  Helvetica, Arial, serif;
  font-size: 15.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: left;
  letter-spacing: -0.36px;
  line-height: 20.0px;
}
