<div #main class="cards" >
    <div class="title">
      Карты
    </div>
    <div class="addCardButton">+Добавить карту</div>
    <p-dropdown [options]="orders" [style]="{'width':'360px','height':'44px','marginTop':'20px'}"
               ></p-dropdown>
    <div class="cardBlock">
      <img src="assets/img/cards-card2@2x.png" class="card2" routerLink="item0"/>
      <img src="assets/img/cards-card3@3x.png" class="card3" routerLink="item0"/>
      <img src="assets/img/cards-card44@3x.png" class="card44" routerLink="item0"/>
      <img src="assets/img/cards-card1@3x.png" class="card1" routerLink="item0"/>
    </div>
</div>
