<div #main class="cards" >
    <div class="title">
      Карты
    </div>

    <div class="addCardButton"><app-simple-button label="+Добавить карту"></app-simple-button></div>
    <p-dropdown [options]="orders" [style]="{'width':'360px','height':'30px','marginTop':'20px','marginLeft':'5px'}"
               ></p-dropdown>
    <div class="cardBlock">
      <img src="assets/img/cards-card2@2x.png" class="card card2" routerLink="item0"/>
      <img src="assets/img/cards-card3@3x.png" class="card card3" routerLink="item0"/>
      <img src="assets/img/cards-card44@3x.png" class="card card44" routerLink="item0"/>
      <img src="assets/img/cards-card1@3x.png" class="card card1" routerLink="item0"/>
    </div>
</div>
