.cards{
  background-color: rgba(255,255,255,0);
  margin-left: 110px;
  margin-right: 10%;
  min-width: 900px;
}


.title{
  margin-top: 50px;
  height: auto;
  width: 262px;
  margin-left: 0px;
  font-size: 32.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: left;
  letter-spacing: -0.22px;
  line-height: 29.0px;
}

.container{
  margin-right: 100px;
  margin-left: 100px;
}

.dropdown{
  width: 366px;
  height: 44px;
}

.addCardButton{
  float: right;
  margin-top: -27px;
}

.cardBlock{
  width: 366px;
  margin-left: -13px;
  margin-top: 185px;
}

.cardBlock img{
  height: 234px;
  width: 387px;
  margin-top: -170px;
}

.card:hover{
  animation:showCard 500ms ease-in-out both;
}

@keyframes showCard {
  from {margin-left: 0%}
  to {margin-left: 30%}
}

.card{
  animation:hideCard 500ms ease-in-out both;
}

@keyframes hideCard {
  from {margin-left: 30%}
  to {margin-left: 0%}
}
