.about{
  width: 300px;
  height: 40px;
  margin-top: 10px;
  color: white;
  font-family: Roboto, Arial, serif;
  font-size: 15.0px;
  text-align: center;
  letter-spacing: -0.29px;
  line-height: 20px;
}
