
.item {
  width: 310px;
  height: 400px;
  color: black;
  background: white;
  border-width: 1px;
  margin: 5px;
  border-style: solid;
}

.item:hover {
  background: #16A085;
  color: white;
}

.itemImage {
  margin-top: 37px;
  margin-left: 37px;
}

.extraIcon {
  margin-top: -22px;
  position: absolute;
  margin-left: -60px;
}

.footer {
  margin-top: 50px;
  color: rgba(0, 0, 0, 0.7)
}

.footer:hover {
  color: rgba(255, 255, 255, 0.7)
}

.detail {
  text-decoration: underline;
  margin-top: 20px;
  margin-left: 37px;
  cursor: pointer;
}

.itemText {
  margin-top: 20px;
  margin-left: 37px;
  margin-right: 37px;
  font-size: 26px;
}

.value{
  margin-top: 20px;
  font-size: 20px;
}

.value .label{
  position: absolute;
  margin-left: 37px;
}

.value .data{
  float:right;
  margin-right: 20px;
}
