<div #main class="accounts">

    <div class="title">Счета</div>
    <div #tabs class="tabs">
      <div class="active first"> Счета</div>
      <div class="inactive"> Облегации</div>
      <div class="inactive last"> Ячейки</div>
    </div>
    <p-dropdown [options]="orders" [style]="{'width':'360px','height':'40px','marginTop':'20px'}"
                ></p-dropdown>
    <div class="body">
      <app-dashboard-current-item name="Зарплатный счет" icon="assets/img/item0.png" number="2344 4567 8907 9706"
                                  value="39 500"
                                  nameIcon="assets/img/visa1.png"></app-dashboard-current-item>
      <app-dashboard-current-item name="Моя сберочка" icon="assets/img/item1.png" number="5009 4567 8907"
                                  value="55 560"
                                  nameIcon="assets/img/visa1.png"></app-dashboard-current-item>
      <app-dashboard-current-item name="Вклад 'Комфортный' " icon="assets/img/item2.png" number="234 4567 8907"
                                  value="39 700"
      ></app-dashboard-current-item>
      <table class="total">
        <tr>
          <td>
            <div class="totalValue">Общая сумма </div>
          </td>
          <td class="rub">
            39500 <app-rub></app-rub>
          </td>
        </tr>
        <tr>
          <td></td>
          <td class="dollar">
            254 $
          </td>
        </tr>
      </table>
    </div>
    <div class="addAccountButton"><app-simple-button label="+ Открыть счет"></app-simple-button></div>
</div>
