.titleLabel {
  margin-top: 150px;
  margin-bottom: 30px;
  height: auto;
  font-family:  Helvetica, Arial, serif;
  font-size: 32.0px;
  color: rgba(255, 255, 255, 1.0);
  text-align: center;
  letter-spacing: -0.53px;
  line-height: 29.0px;
}
