<div #main class="successPayment2">
  <div #image class="group2">
    <img class="screenshot20170905at155055" src="assets/img/template-success-1-screen-shot-2017-09-05-at-155055@2x.png">
    <div class="effects">
      <img class="star" src="assets/img/template-success-1-star@2x.png">
      <img class="starcopy2" src="assets/img/template-success-1-star-copy-2@2x.png">
      <img class="path18" src="assets/img/template-success-1-path-18@2x.png">
      <img class="path19" src="assets/img/template-success-1-path-19@2x.png">
      <img class="path191" src="assets/img/template-success-1-path-19 1@2x.png">
      <img class="oval7" src="assets/img/template-success-1-oval-7-copy-2@2x.png">
      <img class="oval7copy2" src="assets/img/template-success-1-oval-7-copy-2@2x.png">
      <img class="oval7copy" src="assets/img/template-success-1-oval-7-copy-2@2x.png">
      <img class="path17copy2" src="assets/img/template-success-1-path-17-copy-2@2x.png">
      <img class="path17copy21" src="assets/img/template-success-1-path-17-copy-2@2x.png">
      <img class="path21" src="assets/img/template-success-1-path-21@2x.png">
      <img class="path17" src="assets/img/template-success-1-path-17@2x.png">
      <img class="path22" src="assets/img/template-success-1-path-22@2x.png">
      <img class="path221" src="assets/img/template-success-1-path-22 1@2x.png">
      <img class="path23" src="assets/img/template-success-1-path-23@2x.png">
      <img class="path24" src="assets/img/template-success-1-path-24@2x.png">
    </div>
  </div>
  <div #text class="textBlock">
  <div class="value">-206 <app-rub></app-rub></div>
  <div class="text">Оплата успешно совершена</div>
  </div>
</div>
