.item {
  width: 310px;
  height: 400px;
  color: black;
  background: white;
  border-width: 1px;
  margin: 5px;
  border-style: solid;
}

.itemImage{
  margin-top: 45px;
  margin-left: 22px;
}

.itemText{
  font-family: "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size: 29px;
  color: rgba(255, 255, 255, 1.0);
  text-align: left;
  letter-spacing: -0.32px;
  margin-left: 22px;
  margin-top: 20px;
  margin-right: 22px;
}

.footer{
  bottom: -60px;
  position: relative;
  color: white;
  margin-left: 22px;
  cursor: pointer;
}
.detail{
  text-decoration: underline;
}
