<div #main class="footer">
  <div class="label">Отделения, сервисы, курсы валют</div>

  <div class="body">
    <div class="info" [style.width]="baseWidth">
      <img #path1 class="path" src="assets/img/main-path.png">
      <div class="gr1">
        <img class="group14" src="assets/img/main-group-14@2x.png">
        <div class="usd">
          USD
        </div>
        <div class="group4">
          <img class="triangle" src="assets/img/main-triangle@2x.png">
          <img class="triangle1" src="assets/img/main-triangle 1@2x.png">
        </div>
        <div class="a7150u20bd">
          <br>
          71,50 ₽
        </div>
        <div class="u041fu043eu043au0443u043fu043au0430">
          Покупка
        </div>
        <div class="u041fu0440u043eu0434u0430u0436u0430">
          Продажа
        </div>
        <div class="u0426u0411">
          ЦБ
        </div>
        <div class="a6744u20bd">
          <br>
          <br>
          67,44 ₽
        </div>
        <div class="a6605u20bd">
          <br>
          66,05 ₽
        </div>
        <div class="group">
          <div class="u041au0443u043fu0438u0442u044cu0432u0430u043bu044eu0442u0443">
            Купить валюту
          </div>
        </div>
        <img class="path362" src="assets/img/main-path-36@2x.png">
      </div>
      <div class="group7">
        <div class="a1u0441u0435u043d">
          1 сен
        </div>
        <div class="a15u0441u0435u043d">
          15 сен
        </div>
        <div class="a30u0441u0435u043d">
          30 сен
        </div>
        <div class="u0421u0435u0433u043eu0434u043du044f">
          Сегодня
        </div>
        <img class="line2" src="assets/img/main-line-2@2x.png">
        <img class="line21" src="assets/img/main-line-2 1@2x.png">
        <img class="line22" src="assets/img/main-line-2 2@2x.png">
        <img class="path32" src="assets/img/main-path-32.png">
        <img class="oval3" src="assets/img/main-oval-3 1@2x.png">
        <img class="oval31" src="assets/img/main-oval-3 1@2x.png">
        <img class="oval32" src="assets/img/main-oval-3 1@2x.png">
      </div>
    </div>

    <div class="info2">
      <div #path2 class="group17">
        <img class="mask" src="assets/img/main-mask.png">
        <img class="path3" src="assets/img/main-path-3.png">
        <img class="screenshot20180124at173415" src="assets/img/main-screen-shot-2018-01-24-at-173415.png">
      </div>
      <img #path3 class="rectangle5" src="assets/img/main-rectangle-5.png">
      <img class="group18" src="assets/img/main-group-18.png">
      <div class="group8copy">
        <div class="u0412u043eu0442u0434u0435u043bu0435u043du0438u0438u043du0430u043fu0430u0440u043au0435">
          В отделении на парке Культуры сегодня свободно после 16:00
        </div>
        <div #path4 class="u04">
          Занять очередь >
        </div>
        <div class="a900">
          9:00
        </div>
        <div class="a1200">
          12:00
        </div>
        <div class="a1500">
          15:00
        </div>
        <div class="a1800">
          18:00
        </div>
        <div class="a2100">
          21:00
        </div>
        <div class="group7">
          <img class="rectangle6" src="assets/img/main-rectangle-6@2x.png">
          <img class="rectangle61" src="assets/img/main-rectangle-6 1@2x.png">
          <img class="rectangle62" src="assets/img/main-rectangle-6 2@2x.png">
          <img class="rectangle63" src="assets/img/main-rectangle-6 3@2x.png">
          <img class="rectangle64" src="assets/img/main-rectangle-6 4@2x.png">
          <img class="rectangle65" src="assets/img/main-rectangle-6 5@2x.png">
          <img class="rectangle66" src="assets/img/main-rectangle-6 6@2x.png">
          <img class="rectangle67" src="assets/img/main-rectangle-6 7@2x.png">
          <img class="rectangle68" src="assets/img/main-rectangle-6 8@2x.png">
          <img class="rectangle69" src="assets/img/main-rectangle-6 1@2x.png">
          <img class="rectangle610" src="assets/img/main-rectangle-6 10@2x.png">
          <img class="rectangle611" src="assets/img/main-rectangle-6 11@2x.png">
        </div>

      </div>


    </div>
  </div>
</div>
