.regByCard{
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #EC5741 0%, #F68B40 100%);

}

.cardMain{
  top: 320px;
  height: 240px;
  width: 581px;
  position: absolute;
  margin: 0;
  left: 344px;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);

}
.cardMain input{
  border-radius: 5px;
}

.bankLogo{
  top: 27px;
  height: 50px;
  left: 140px;
  position: absolute;
}
.brandLogo{
  position: absolute;
  top: 140px;
  left: 365px;
}
.cardNumber{
  position: absolute;
  width: 300px;
  height: 33px;
  top: 84px;
  left: 144px;
}

.cardMonth{
  position: absolute;
  height: 33px;
  top: 150px;
  left: 144px;
}

.cardMonth input{
  width: 35px;
}

.cardMYSeparator{
  position: absolute;
  height: 33px;
  top: 150px;
  left: 192px;
  font-size: 29px;
  color: rgba(0,0,0,0.3);
}

.cardYear{
  position: absolute;
  height: 33px;
  top: 150px;
  left: 208px;
}

.cardYear input{
  width: 35px;
}
.cardCVV{
  position: absolute;
  height: 33px;
  top: 150px;
  left: 490px;
}

.cardCVV input{
  width: 50px;
}
.group{
  top: 16px;
  height: 200px;
  width: 349px;
  position: absolute;
  margin: 0;
  left: 232px;
}

.rectangle3{
  top: 47px;
  height: 53px;
  width: 114px;
  position: absolute;
  margin: 0;
  left: 466px;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  opacity: 0.74;

}

.group5{
  top: 0px;
  height: 240px;
  width: 387px;
  position: absolute;
  margin: 0;
  left: 102px;
  border-radius: 10px;
  overflow: hidden;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  background-color: #F27B3A;
}

.mask{
  top: 0px;
  height: 240px;
  width: 387px;
  position: relative;
  margin: 0;
  left: 0px;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.group2{
  top: 85px;
  height: 111px;
  width: 554px;
  position: absolute;
  margin: 0;
  left: 0px;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.cardaddedcopy{
  top: 0px;
  height: 110px;
  width: 553px;
  position: relative;
  margin: 0;
  left: 1px;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}


.ui-float-label > label {
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: .25em;
  top: 50%;
  margin-top: -.5em;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  color: #898989;
  line-height: 1;
}

.btnContinue{
  border-radius: 20px;
  background: #F3936C !important;
  height: 40px;
  width: 250px;
  margin-top: 260px;
  text-align: center;
  line-height: 40px;
  font-size: 22px;
  color: #F07139 !important;
  cursor: pointer;
}

.btnCancel{
  margin-top: 100px;
}
