<div #body class="regByCard">
  <app-fora-logo></app-fora-logo>
  <div class="title">
  <app-title title="{{title}}"></app-title>
  </div>
  <div #card class="cardMain">
      <img class="group" src="assets/img/card-number-group@2x.png">
      <img class="rectangle3" src="assets/img/card-number-rectangle-3@2x.png">
      <div #cardImg class="group5" >
        <!--
        <img class="mask" src="assets/img/card-number-mask.png">
        -->
      </div>
    <img [style.visibility]="bankVisibility" class="bankLogo" src="{{bankLogo}}">
    <img [style.visibility]="brandVisibility" class="brandLogo" src="{{brandLogo}}">
    <div class="ui-float-label cardNumber">
      <input id="cardNumber"  type="text" pInputText (focus)="changeTitle('Введите номер карты')" (input)="onCardNumberChange($event)" >
      <label for="cardNumber" class="inputFloatingLabel">Номер карты</label>
    </div>
    <div class="ui-float-label cardMonth">
      <input id="cardMonth" type="text" pInputText (focus)="changeTitle('Укажите срок действия')" (input)="onCardMonthChange($event)">
      <label for="cardMonth" class="inputFloatingLabel">ММ</label>
    </div>
    <div class="cardMYSeparator">/</div>
    <div  class="ui-float-label cardYear">
      <input id="cardYear"  type="text" pInputText (focus)="changeTitle('Укажите срок действия')" (input)="onCardYearChange($event)">
      <label for="cardYear" class="inputFloatingLabel">ГГ</label>
    </div>

    <div class="ui-float-label cardCVV">
      <input id="cardCVV"  type="password" pInputText (focus)="changeTitle('Введите код безопасности')" (input)="onCardCVVChange($event)">
      <label for="cardCVV" class="inputFloatingLabel">{{codeName}}</label>
    </div>
  </div>

  <div #btnContinue class="btnContinue">
    <app-button label="Продолжить" route="verifySms" bgColor="#FFFFFF" color="#d84049" border=true enabled="{{btnNextEnabled}}" route="/regChoice/createAccount"></app-button>
  </div>

  <div #btnCancel class="btnCancel">
    <app-button label="Отменить" border="true" ></app-button>
  </div>

</div>
