<div class="item" routerLink="credits/item0">
 <table width="100%">
   <tr>
     <td width="25%">
       <div class="nameBlock">
       <div>
         {{name}}
       </div>

       <progress max="100" value="{{payed}}"></progress>
       </div>
     </td>
     <td width="25%" class="date">
       {{endDate}}
     </td>
     <td width="25%" class="percent">
       Ставка {{percent}} %
     </td>
     <td width="25%" class="value">
       <label>{{value}}</label>
     </td>
   </tr>
 </table>
</div>
