<div #main class="cardInfo">

  <div class="mainBlock">
    <div class="topMenu">
      <span class="item" routerLink="/cards/item0">Назад</span>
    </div>
    <div class="logo">
      <div class="mask">
      </div>
      <img class="bitmap" src="assets/img/history-card--bitmap@2x.png">
    </div>
    <div class="title">
      METRO Store 1019
    </div>
    <div class="buttonedBlock">
      <div class="group5">
        <div class="group11">
          <img class="oval20" src="assets/img/history-card--oval-20-copy@2x.png">
          <div class="group9">
            <img class="rectangle6" src="assets/img/history-card--rectangle-6@2x.png">
            <img class="line2" src="assets/img/history-card--line-2@2x.png">
            <img class="rectangle" src="assets/img/history-card--rectangle@2x.png">
            <img class="line3" src="assets/img/history-card--line-3@2x.png">
            <img class="line3copy2" src="assets/img/history-card--line-3@2x.png">
            <img class="line3copy" src="assets/img/history-card--line-3@2x.png">
          </div>
        </div>
        <div class="group">
          <img class="oval20copy" src="assets/img/history-card--oval-20-copy@2x.png">
          <div class="iconraspredelitcopy">
            <div class="group6">
              <img class="path2" src="assets/img/history-card--path-2@2x.png">
              <img class="path21" src="assets/img/history-card--path-2 1@2x.png">
            </div>
            <img class="path3" src="assets/img/history-card--path-3@2x.png">
            <img class="path31" src="assets/img/history-card--path-3 1@2x.png">
            <img class="path4" src="assets/img/history-card--path-4@2x.png">
            <img class="path41" src="assets/img/history-card--path-4@2x.png">
          </div>
        </div>
        <div class="group3">
          <img class="oval20copy2" src="assets/img/history-card--oval-20-copy@2x.png">
          <div class="group8copy">
            <img class="rectangle6" src="assets/img/history-card--rectangle-6 1@2x.png">
            <img class="path3" src="assets/img/history-card--path-3 2@2x.png">
            <img class="path5" src="assets/img/history-card--path-5@2x.png">
          </div>
        </div>
      </div>
    </div>
    <div class="summary">
      <table width="400px">
        <tr class="itemLine"  *ngFor="let card of cards">
          <td width="70%" class="name">
            {{card.name}}
          </td>
          <td class="value">
            {{card.value}}
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="detailBlock">
    <div class="total">
      <div class="title">- 14 567  <app-rub></app-rub></div>
      <div class="totalBonus">+1200 бонусов</div>
    </div>
    <table width="100%" >
      <tr  class="items" *ngFor="let item of details">
        <td width="300px" class="name">
          {{item.name}}
        </td>
        <td>
          {{item.count}}
        </td>
        <td class="value">
          {{item.value}}
        </td>
      </tr>
    </table>
  </div>

</div>
