<div class="success">

  <div #image class="successImg">
    <div class="effects">
      <img src="assets/img/success-star@2x.png" class="star" />
      <img src="assets/img/success-star-copy-2@2x.png" class="starcopy2" />
      <img src="assets/img/success-path-18@2x.png" class="path18" />
      <img src="assets/img/success-path-19@2x.png" class="path19" />
      <img src="assets/img/success-path-19 1@2x.png" class="path191" />
      <img src="assets/img/success-oval-7@2x.png" class="oval7" />
      <img src="assets/img/success-oval-7-copy-2@2x.png" class="oval7copy2" />
      <img src="assets/img/success-oval-7-copy@2x.png" class="oval7copy" />
      <img src="assets/img/success-path-17-copy-2@2x.png" class="path17copy2" />
      <img src="assets/img/success-path-17-copy-2 1@2x.png" class="path17copy21" />
      <img src="assets/img/success-path-21@2x.png" class="path21" />
      <img src="assets/img/success-path-17@2x.png" class="path17" />
      <img src="assets/img/success-path-22@2x.png" class="path22" />
      <img src="assets/img/success-path-22 1@2x.png" class="path221" />
      <img src="assets/img/success-path-23@2x.png" class="path23" />
      <img src="assets/img/success-path-24@2x.png" class="path24" />
    </div>
    <img src="assets/img/error-oval-8@2x.png" class="oval8" />
    <img src="assets/img/error-oval-8 1@2x.png" class="oval81" />
    <img src="assets/img/error-oval-8 2@2x.png" class="oval82" />
    <img src="assets/img/success-path-10@2x.png" class="path10" />
  </div>
  <div class="offset"></div>
  <div class="title">
    Поздравляем!
  </div>
  <div class="info">
    Теперь вы можете использовать интернет-банк
  </div>

  <div #btnReady class="btnReady" routerLink="/">
    Начать
  </div>
</div>
