.current {
  margin-top: 50px;
  min-width: 960px;
  margin-left: 10%;
  margin-right: 10%;
}

.label {
  font-size: 32px;
  float: left;
  font-family: Helvetica, Arial, serif;
}

.tabs {
  position: absolute;
  right: 10%;
}

.tabs div {
  height: 30px;
  width: 100px;
  display: inline-block;
  line-height: 30px;
  text-align: center;
}

.tabs .active {
  background: #EF8D35;
  color: white;

}

.tabs .inactive {
  background: #FFFFFF;
  color: #DBDBDB;
  border: 1px solid #DBDBDB;
  cursor: pointer;
}

.tabs .first {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.tabs .last {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.body {
  margin-top: 20px;
}

