<div class="current">
  <div class="label">Текущее</div>
  <div #tabs class="tabs">
    <div class="active first"> Счета</div>
    <div class="inactive"> Операции</div>
    <div class="inactive last"> Расходы</div>
  </div>
  <div class="body">
    <app-dashboard-current-item name="Зарплатный счет" icon="assets/img/item0.png" number="2344 4567 8907 9706"
                                value="39 500 р"
                                nameIcon="assets/brands-logos/visa-colored.png"></app-dashboard-current-item>
    <app-dashboard-current-item name="Моя сберочка" icon="assets/img/item1.png" number="5009 4567 8907"
                                value="55 560 р"
                                nameIcon="assets/brands-logos/visa-colored.png"></app-dashboard-current-item>
    <app-dashboard-current-item name="Вклад 'Комфортный' " icon="assets/img/item2.png" number="234 4567 8907"
                                value="39 700 р"
    ></app-dashboard-current-item>
  </div>
</div>
