<div class="title">
  Шаблоны
</div>

<div class="newTemplate" > <app-simple-button  routerLink="newTemplate" label="Создать шаблон"></app-simple-button></div>
<div class="itemsBlock">
  <div *ngFor="let template of templates;index as i">
    <app-templ-item name="{{template.name}}" icon="{{template.image}}" number="{{template.lastUse}}"
                                value="{{template.value}}" isFirst="{{i===0}}" isLast="{{i===(templates.length-1)}}"
    ></app-templ-item>
    <hr *ngIf="i!==(templates.length-1)"/>
  </div>
</div>
