<!--The content below is only a placeholder and can be replaced.-->
<div class="signin" [style.height]="bgHeight">
  <img [style.left]="logoOffset" src="assets/img/registration-card-fora-logo-copy-2.png" class="foralogocopy2">


  <div #titleEnter class="titleLabel">Вход</div>
  <div #loginBlock class="ui-float-label loginBlock">
      <input id="loginInput" class="loginInputField" type="text" pInputText>
      <label for="loginInput" class="inputFloatingLabel">Логин</label>
  </div>
  <br>
  <div #passwordBlock class="ui-float-label loginBlock">
      <input id="passwordInput" class="passInputField" type="password" pInputText>
      <label for="passwordInput" class="inputFloatingLabel">Пароль</label>
  </div>

</div>
