<div #main class="leftMenu" [style.height]='mainHeight'>
  <app-fora-logo width="210" scale="0.7"></app-fora-logo>
  <div class="buttonsBar">
    <div class="link" routerLink="/main">Мои финансы</div>
    <br>
    <div class="link" routerLink="/actionsAndPay">Платежи и переводы</div>
    <br>
    <div class="link">Партнерские сервисы</div>
    <br>
    <div class="link">Отделения и банкоматы</div>
  </div>

  <div #footer class="footer">
    <label class="userName">Евгений Кожемякин</label>
    <div class="footerButtons">
      <span >Помощь</span>
      <span routerLink="/">Выход</span>
    </div>
  </div>
</div>
