<div #main (resized)="onResize($event)" class="leftMenu" [style.height]='mainHeight'>

  <img  src="assets/img/registration-card-fora-logo-copy-2.png" class="logo">
  <div class="buttonsBar">
    <div [class]="mainClass" routerLink="/main">Мои финансы</div>
    <br>
    <div [class]="actionsClass" routerLink="/actionsAndPay">Платежи и переводы</div>
    <br>
    <div [class]="partnerClass" >Партнерские сервисы</div>
    <br>
    <div [class]="banksClass" >Отделения и банкоматы</div>
  </div>

  <div #footer class="footer">
    <label class="userName">Евгений Кожемякин</label>
    <div class="footerButtons">
      <span >Помощь</span>
      <span (click)="logout()" routerLink="/">Выход</span>
    </div>
  </div>
</div>
