.leftMenu{
  animation:showMenu 1000ms ease-in-out both;

}

@keyframes showMenu {
  from {margin-left: 20%; width: 100%}
  to {margin-left: 5px; width: 200px}
}

.buttonsBar{
  margin-top: 100%;
  height: auto;
  width: 125px;
  margin-left: 30px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  font-family:  Helvetica, Arial, serif;
  font-size: 16.0px;
  color: rgba(255, 255, 255, 1.0);
  text-align: left;
  letter-spacing: -0.27px;
  line-height: 21.0px;
}

.link{
  cursor: pointer;
}

.userName{
  width: 132px;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  font-family:  Helvetica, Arial, serif;
  font-size: 16.0px;
  color: rgba(255, 255, 255, 1.0);
  text-align: left;
  letter-spacing: -0.27px;
  line-height: 26.0px;
  text-decoration: underline;
  cursor: pointer;
}

.footer{
  width: 175px;
  left: 30px;
}

.footerButtons{
  margin-top: 20px;
  text-decoration: underline;
  font-family:  Helvetica, Arial, serif;
  font-size: 15.0px;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  letter-spacing: -0.25px;
  line-height: 52.0px;
}

.footerButtons span{
  cursor: pointer;
  margin-right: 20px;
}
