.leftMenu{
  width: 210px;
  background: url('../../assets/img/cards-rectangle-17-copy-4.png') round;
}

.buttonsBar{
  margin-top:30%;
  top: 1px;
  height: auto;
  width: 125px;
  position: absolute;
  left: 30px;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  font-family: "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size: 16.0px;
  color: rgba(255, 255, 255, 1.0);
  text-align: left;
  letter-spacing: -0.27px;
  line-height: 21.0px;
}

.link{
  cursor: pointer;
}

.userName{
  width: 132px;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  font-family: "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size: 16.0px;
  color: rgba(255, 255, 255, 1.0);
  text-align: left;
  letter-spacing: -0.27px;
  line-height: 26.0px;
  text-decoration: underline;
  cursor: pointer;
}

.footer{
  width: 175px;
  left: 30px;
}

.footerButtons{
  margin-top: 20px;
  text-decoration: underline;
  font-family: "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size: 15.0px;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  letter-spacing: -0.25px;
  line-height: 52.0px;
}

.footerButtons span{
  cursor: pointer;
  margin-right: 20px;
}
