<div class="creditInfo">

  <div>
    <img class="rectangle17" height="{{baseHeight}}" src="assets/img/credits2-rectangle-17.png">
    <div class="group5copy5" [style.height]="baseHeight">
      <img class="rectangle172" height="{{baseHeight}}" src="assets/img/credits2-rectangle-17 1.png">
    </div>
    <div class="group5copy51" [style.height]="baseHeight">
      <img class="rectangle172" height="{{baseHeight}}" src="assets/img/credits2-rectangle-17 2.png">
    </div>
    <img class="foralogocopy2" src="assets/img/ard3-fora-logo-copy-2.png">
    <div class="buttonsBar">
      <div class="link" >Мои финансы</div>
      <br>
      <div class="link">Платежи и переводы</div>
      <br>
      <div class="link">Партнерские сервисы</div>
      <br>
      <div class="link">Отделения и банкоматы</div>
    </div>

    <div #footer class="footer">
      <label class="userName">Евгений Кожемякин</label>
      <div class="footerButtons">
        <span>Помощь</span>
        <span routerLink="/">Выход</span>
      </div>
    </div>
  </div>
  <div class="mainBlock">
    <div class="topMenu">
      <span class="item"  routerLink="/main">Мои финансы</span> <span class="separator">/</span> <span class="item">Кредиты</span>
    </div>
    <div class="title">
      Кредит «Стандартный»

    </div>
    <div class="buttonedBlock">
      <div class="group12">
        <div class="group3">
          <img class="oval20copy" src="assets/img/credits2-oval-20@2x.png">
          <div class="iconreplenish">
            <img class="line" src="assets/img/credits2-line@2x.png">
            <img class="line5" src="assets/img/credits2-line-5@2x.png">
            <img class="line1" src="assets/img/credits2-line 1@2x.png">
          </div>
        </div>
        <div class="group5">
          <img class="oval20copy2" src="assets/img/credits2-oval-20@2x.png">
          <div class="iconplatperev">
            <img class="line" src="assets/img/credits2-line 2@2x.png">
            <img class="line1" src="assets/img/credits2-line 3@2x.png">
          </div>
        </div>
        <div class="group8">
          <img class="oval20copy3" src="assets/img/credits2-oval-20@2x.png">
          <div class="group4">
            <div class="rectangle5">
            </div>
            <img class="line2" src="assets/img/credits2-line-2@2x.png">
          </div>
        </div>
        <div class="group10">
          <img class="oval20" src="assets/img/credits2-oval-20@2x.png">
          <div class="group2">
            <img class="oval7" src="assets/img/credits2-oval-7@2x.png">
            <img class="oval7copy" src="assets/img/credits2-oval-7@2x.png">
            <img class="oval7copy2" src="assets/img/credits2-oval-7@2x.png">
          </div>
        </div>
      </div>
    </div>
    <div class="summary">
      <table width="80%">
        <tr class="itemLine" *ngFor="let card of credits">
          <td width="50%" class="name">
            {{card.name}}
          </td>
          <td class="value">
            {{card.value}}
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="detailBlock">
    <div class="alreadyPaid">
      <label>525 842 руб</label>
      <div>Уже выплачено</div>
    </div>
    <div class="leftPay">
      <div>Остаток долга</div>
      <label>474 423 руб</label>
    </div>
    <progress max="100" value="72" ></progress>
    <table class="detail" width="100%">
      <thead class="thead">
      <tr>
        <td width="25%">Дата</td>
        <td width="25%">Кредит</td>
        <td width="25%">Проценты</td>
        <td width="25%">Платеж</td>
      </tr>
      </thead>
      <tbody >
      <tr class="item" [ngClass]='{"done":item.done,"current":item.next}' *ngFor="let item of details">
        <td width="25%">
          <div>{{item.date}}</div>
          <div class="doned" [ngClass]='{"done":item.done}'>&#10003;  Исполнен</div>
          <div class="autopayment" [ngClass]='{"auto":item.next}'>Автоплатеж</div>
        </td>
        <td width="25%">{{item.credit}}</td>
        <td width="25%">{{item.percent}}</td>
        <td width="25%">{{item.payment}}
          <div class="changePayment" [ngClass]='{"changePaymentY":item.next}'>Изменить сумму</div></td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td width="25%">Итого</td>
        <td width="25%">1 000 000 р</td>
        <td width="25%">58 259 р</td>
        <td width="25%">1 058 259 р</td>
      </tr>
      </tfoot>
    </table>
  </div>

</div>
