<div class="item" [style.color]="color" [style.background]="background">
  <img width="46px" height="46px" src="{{icon}}" class="itemImage">
  <img [hidden]="hideExtra" width="60px" src="{{extraIcon}}" class="extraIcon">
  <div class="block">
  <div class="itemText">
    {{text}}
  </div>
  <div #value class="value">
    <div class="label">Сумма</div>
    <div class="data">{{amount}} <app-rub></app-rub></div>
  </div>
  </div>
  <div #footer class="footer">
    <div class="detail" [style.color]="color"  >{{button0}}</div>
    <div #secondButton [style.color]="color"  class="detail">{{button1}}</div>
  </div>
</div>
