.suggestion{
  margin-top: 110px;
}

.block{
  display: inline-flex;
}
.label {
  font-size: 32px;
  color: rgba(0, 0, 0, 1.0);
  text-align: left;
  letter-spacing: -0.22px;
  line-height: 29.0px;
  margin-left: 110px;
}

.label .inactive{
  color: rgba(0,0,0,0.3);
}

.label .active{
  color: rgba(0,0,0,1);
  cursor: pointer;
}
