<div class="suggestion">
  <div class="label">Предложения <span class="inactive"> < </span> <span class="active"> > </span></div>
  <br>
  <div #block class="block">
    <app-dashboard-suggession-block-item icon="assets/img/main-mvideo1996@2x.png"
                                         text="Портативная акустика в подарок при покупке Samsung Galaxy S8 в М.Видео"
                                         background="url('assets/img/suggItem0.png') round"
                                         linkText="Показать магазины на карте"></app-dashboard-suggession-block-item>
    <app-dashboard-suggession-block-item icon="assets/img/main-screen-shot-2017-09-05-at-144850@2x.png"
                                         text="В «Пятерочке» ваши регулярные покупки получаются дешевле"
                                         background="url('assets/img/suggItem1.png') round"
                                         linkText="Подробное сравнение"></app-dashboard-suggession-block-item>
    <app-dashboard-suggession-block-item icon="assets/img/main-logo.png"
                                         text="Скидка 15% клиентам банка при покупке овощей и фруктов в «Перекрестке» "
                                         background="url('assets/img/suggItem2.png') round"
                                         linkText="Показать магазины на карте"></app-dashboard-suggession-block-item>


  </div>

</div>
