<div class="regChoice">
  <app-fora-logo></app-fora-logo>
  <app-title title="Регистрация"></app-title>
  <app-about text="Зарегистрируйтесь по карте любого банка
    либо счету или договору Фора-Банка"></app-about>
  <app-button label="Карта" border="true" route="regByCard"></app-button>
  <app-button label="Счет" border="true" route="regByAccount"></app-button>
  <app-button label="Договор" border="true" route="regByContract"></app-button>

  <app-footer1 route="/signIn" mainTitle="Войти"></app-footer1>
</div>
