<div  class="main" *ngIf="isLogged(); else loggedOut">
  <div #body class="mainBody" [style.width]="baseWidth">
    <div [style.visibility]="visibility" class="header" #header>
      <span id="main" class="active" (click)="onClick($event,'main')" >Состояние дел</span>
      <span id='cards' class="notactive" (click)="onClick($event,'cards')" >Карты</span>
      <span id="accounts" class="notactive" (click)="onClick($event,'accounts')" >Счета</span>
      <span id="credits" class="notactive" (click)="onClick($event,'credits')" >Кредиты</span>
      <span id="statistic" class="notactive" (click)="onClick($event,'statistic')">Статистика</span>
      <span id="history" class="notactive" (click)="onClick($event,'history')">История операций</span>
    </div>

    <div #container class="showContainer">
      <div #leftpartOne class="leftPart" [style.height]="baseHeight">
      </div>
      <div #leftpartTwo [class]="leftPartTwoClass" [style.height]="baseHeight">
      </div>
      <div  [class]="leftPart3Class" [style.height]="baseHeight">
      </div>
      <div #routeContainer class="showRoute">
      <router-outlet ></router-outlet>
      </div>
    </div>

  </div>
  <app-left-menu #leftMenu background="radial-gradient(120px 100% at 120% 50%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 60%, rgba(253, 149, 59,0.9) 60.5%, rgba(253, 149, 59,0.9) 100%)"></app-left-menu>
</div>

<ng-template #loggedOut>
  <router-outlet ></router-outlet>
</ng-template>
