/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
  font-family: Helvetica;
  src: url("assets/fonts/9202.otf") format("opentype");
}

body{
  margin: 0px;
}

input{
  font-size: 24.0px;
  text-indent: 5px;
  font-family: Helvetica, Arial, serif;
  width: 250px;
}


.ui-float-label>label {
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: .25em;
  top: 50%;
  margin-top: -.5em;
  transition: .3s ease all;
  -moz-transition: .3s ease all;
  -webkit-transition: .3s ease all;
  color: #898989;
  line-height: 1;
  text-indent: 5px;
}

.footer {
  position: absolute;
}

.withBorder{
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.3) ;
}

.buttonedLabel {
  width: 250px;
  height: 40px;
  margin-top: 10px;
  color: white;
  font-family: Helvetica, Arial, serif;
  font-size: 15.0px;
  text-align: center;
  letter-spacing: -0.29px;
  line-height: 40px;

}

.underlined{
  text-decoration-line: underline;
}

.labeledButtonDisabled{
  opacity: 0.2;
  pointer-events: none;
}

.labeledButtonEnabled{
  opacity: 1;
  cursor:pointer;
}


/* breaks firefox so defined separately */
.ui-float-label > input:-webkit-autofill ~ label {
  opacity: 0;
}

.ui-float-label > input:focus ~ label,
.ui-float-label > input.ui-state-filled ~ label,
.ui-float-label > .ui-inputwrapper-focus ~ label,
.ui-float-label > .ui-inputwrapper-filled ~ label {
  opacity: 0;
}

.ui-tabview.ui-tabview-top>.ui-tabview-nav li {
  border: 0;
  top: 1px;
}

.ui-tabview .ui-tabview-panel {
  border-width: 0;
  padding: 0px;
  background: 0;
}

.ui-dropdown label.ui-dropdown-label{
  font-family: Helvetica, Arial, serif;
  font-size: 18px;
  color: rgba(0, 0, 0, 1.0);
  text-align: left;
  letter-spacing: -0.53px;
  line-height: 18px;
  padding-left: 1em;
}


.ui-widget-content {
  border: 1px none #D5D5D5;
  background-color: #ffffff;
  color: #222222;
}

.ui-widget-header .ui-button, .ui-widget-content .ui-button, .ui-widget.ui-button, .ui-button {
  background: rgba(255,255,255,0);
  color: gray;
}

.buttonStyle{
  background: #D93533;

  width: 300px;
  height: 45px;
  border-radius: 20px;
}

.buttonStyle span{
  color: white;
  line-height: 45px;
  width: 300px;
  margin-top: 5px;
}

.ui-widget {
  font-family:   Helvetica, Arial, sans-serif;
}
