/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
  margin: 0px;
}

input{
  font-size: 24.0px;
  text-indent: 10px;
  font-family: 'Roboto', sans-serif;
}

.footer {
  position: absolute;
}

.buttonedLabel {
  width: 250px;
  height: 40px;
  margin-top: 10px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 15.0px;
  text-align: center;
  letter-spacing: -0.29px;
  line-height: 40px;
  cursor:pointer;
}

.underlined{
  text-decoration-line: underline;
}

.withBorder{
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.3) ;
}
