.logo {
  background-color: rgba(255, 255, 255, 0.0);
  margin-top: 35px;
  height: 27px;
  width: 188px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
