.statistic{
  background-color: rgba(255,255,255,0);
  margin-left: 110px;
  margin-right: 10%;
  min-width: 900px;
}

.statistic table{
  margin-top: 40px;
}
.title{
  height: auto;
  width: 262px;
  margin-left: 0px;
  font-size: 32.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: left;
  letter-spacing: -0.22px;
  line-height: 29.0px;
}

.drDown input{
  width: 210px;
}
.topButtons{
  font-family: Helvetica, Arial, serif;
  font-size: 16.0px;
  color: rgba(118, 118, 118, 1.0);
  text-align: left;
  letter-spacing: -0.36px;
  line-height: 30.0px;
  border-radius: 5px;
  border: 1px solid #898989;
  height: 30px;
  display: flex;
  width: 210px;
  margin-left: -120px;
}

.topButtons .item{
  width: 105px;
  text-align: center;
  cursor: pointer;
}

.topButtons .active{
  background: #EF8D35;
}

.bubbles{
  width: 50%;
  position:absolute;
}

.monthDetail{
  float: right;
  margin-right: 60px;
}

.item.selected{
  color: black;
}

.item {
  color: rgba(127,127,127,0.5);
  font-family: Helvetica, Arial, serif;
  font-size: 18.0px;
  letter-spacing: -0.12px;
  line-height: 26px;
  cursor: pointer;
}

.monthDetail .value{
  text-align: right;
}

.monthDetail .name{
  margin-left: 20px;
}
